NODE_ENV=development
JWT_SECRET=development12345
MONGO_URL=mongodb+srv://nawazshareefshaiksfdc:G5mxA09G2aH8xrJH@cluster0.xmubkoo.mongodb.net/?retryWrites=true&w=majority
MAILER_MAIL_ID=syedjaveed@nextgen-is.com
MAILER_MAIL_PASSWORD=@cipX0911
FRONTEND_JIRA_BASE_URL=http://skillbridge.work/